.env
runtime/secrets/
runtime/generated/
runtime/backups/
runtime/game/
runtime/rabbitmq-admin/
runtime/rabbitmq-game/
runtime/postgres/
runtime/director/
runtime/server-gateway/
runtime/fake-k8s-serviceaccount/
work/
*.log
.git/
node_modules/
**/node_modules/
**/dist/
**/.vite/
**/.vite-temp/
**/tsconfig.tsbuildinfo
